<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-brand"> <span class="brand-highlight">Elite</span>Motors </a>

    <div class="navbar-links">
      <a
        routerLink="/"
        class="nav-link"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Inicio</a
      >

      @if (authService.authStatus() === 'authenticated') {
        @if (authService.isAdmin()) {
          <a routerLink="/sales" class="nav-link" routerLinkActive="active">Ventas</a>
          <a routerLink="/admin" class="nav-link" routerLinkActive="active">Panel de Administración</a>
        }
      }
    </div>

    <div class="navbar-actions">
      @if (authService.authStatus() === 'authenticated') {
        @if (authService.isClient()) {
          <a routerLink="/cart" class="nav-cart" routerLinkActive="active">
            <span class="material-symbols-outlined">shopping_cart</span>
            <span>Carrito</span>
            @if (cartCount | async) {
              <span class="cart-badge">{{ cartCount | async }}</span>
            }
          </a>
        }

        <button class="btn-logout" (click)="logout()">
          <span class="material-symbols-outlined logout-icon">logout</span>
          Salir
        </button>
      } @else if (authService.authStatus() === 'not-authenticated') {
        <a routerLink="/auth/login" class="btn-login"> Login </a>
      }
    </div>
  </div>
</nav>
