* {
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #fff;
  margin: 0;
  padding: 80px 30px;
  background-color: #030303;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

nav a {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 0.4rem 0;
  transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

nav a:hover {
  color: #ff7a18;
}

nav:has(a:hover) a:not(:hover) {
  opacity: 0.3;
}

.nav-cart {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  padding: 0.4rem 0;

  display: flex;
  align-items: center;
  gap: 6px;
}

.cart-badge {
  position: absolute;
  top: -10px;
  right: -15px;

  background: #ff3b3b;
  color: white;

  font-size: 12px;
  font-weight: 700;

  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;

  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}
